:root{
    --mainColor: #ECA332;
    --secondaryColor: #c66f00;
    --borderColor: #161914;
    --mainText: #fff;
    --secondaryText: #eeeeee;
    --themeDotBorder: #FFF;
    --previewBg: rgb(81, 90, 72, 0.8);
    --previewShadow: #a85d0e;

}